{% extends "base.html.twig" %}

{% block title %}Videos Dashboard
{% endblock %}

{% block body %}
	<div class="px-4 sm:px-6 lg:px-8">
		<div class="sm:flex sm:items-center">
			<div class="sm:flex-auto">
				<h1 class="text-base font-semibold leading-6 text-gray-900">Other Videos</h1>
				<p class="mt-2 text-sm text-gray-700">Your videos.</p>
			</div>
			<div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
				<a href="{{ path('add_other_video') }}" class="block rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Add Video</a>
			</div>
		</div>
		<div class="mt-8 flow-root">
			<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
				<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
					<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
						<table class="min-w-full divide-y divide-gray-300">
						<thead class="bg-gray-50">
								<tr>
									<th scope="col" class="whitespace-nowrap px-3 py-4 text-left text-sm font-medium text-gray-500">
										Name
									</th>
									<th scope="col" class="whitespace-nowrap px-3 py-4 text-left text-sm font-medium text-gray-500">
										Description
									</th>
									<th scope="col" class="whitespace-nowrap px-3 py-4 text-left text-sm font-medium text-gray-500">
										Thumbnail
									</th>
									<th scope="col" class="whitespace-nowrap px-3 py-4 text-left text-sm font-medium text-gray-500">
										Category
									</th>
									<th scope="col" class="whitespace-nowrap px-3 py-4 pr-8 text-right text-sm font-medium text-gray-500">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								{% for otherVideo in otherVideos %}
									<tr>
										<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ otherVideo.name }}</td>
										<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ otherVideo.description|length > 100 ? otherVideo.description|slice(0, 100) ~ '...' : otherVideo.description }}</td>
										<td class="whitespace-nowrap px-3 py-4">
											<img src="{{ asset('uploads/thumbnails/' ~ otherVideo.thumbnail) }}" alt="Thumbnail" class="w-20 h-auto rounded-lg">
										</td>
										<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ otherVideo.category }}</td>
										<td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
											<a href="{{ path('app_video_show', {'id': otherVideo.id}) }}" class="text-red-600 hover:text-red-900">Show<span class="sr-only">,
													{{ otherVideo.name }}</span>
											</a>
											<a href="{{ path('app_other_video_edit', {'id': otherVideo.id}) }}" class="text-red-600 hover:text-red-900">Edit<span class="sr-only">,
													{{ otherVideo.name }}</span>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
