{% extends "base.html.twig" %}

{% block title %}Playlists Dashboard
{% endblock %}

{% block body %}
		<div class="px-4 sm:px-6 lg:px-8">
			<div class="sm:flex sm:items-center">
				<div class="sm:flex-auto">
					<h1 class="text-base font-semibold leading-6 text-gray-900">Playlists</h1>
					<p class="mt-2 text-sm text-gray-700">Your playlists.</p>
				</div>
				<div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
					<a href="{{ path('add_playlist') }}" class="block rounded-md bg-blue-950 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-950">Add Playlist</a>
				</div>
			</div>
			<div class="mt-8 flow-root">
				<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
					<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
						<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
							<table class="min-w-full divide-y divide-gray-300">
							<thead  class="bg-gray-50">
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
									Name
								</th>
								<th scope="col" class="hidden md:block px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
									Description
								</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
									Thumbnail
								</th>
								<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
									Number of videos
								</th>
								<th scope="col" class="whitespace-nowrap px-3 py-4 pr-8 text-right text-sm font-medium text-gray-900">
									Actions
								</th>
							</thead>
						<tbody>
							{% for playlist in playlists %}
								<tr>
									<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ playlist.name }}</td>
									<td class="hidden md:block whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ playlist.description }}</td>
									<td class="whitespace-nowrap px-3 py-4">
										<img src="{{ asset('uploads/thumbnails/' ~ playlist.thumbnail) }}" alt="Thumbnail" class="w-20 h-auto rounded-lg">
									</td>
									<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ playlist.videos|length }}</td>
									<td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
										<a href="{{ path('app_playlist_show', {'id': playlist.id}) }}" class="text-blue-950 hover:text-blue-900">Show<span class="sr-only"></span>
										</a>
										<a href="{{ path('app_playlist_edit', {'id': playlist.id}) }}" class="text-blue-950 hover:text-blue-900">Edit<span class="sr-only"></span>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
{% endblock %}
