{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-title">Add Video</h1>

    <div class="form-container">
        {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.thumbnail, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.video, {'attr': {'class': 'form-control'}}) }}
        {{ form_end(form) }}
        {# <label href="{{ path('add_video') }}" class="block rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"></label> #}
    </div>

    <style>
         .page-title {
            text-align: center; 
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
            
        }

        .form-container {
            max-width: 500px;
            margin: 0 auto;
            
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;

        }
    </style>
{% endblock %}
