{% extends 'base.html.twig' %}

{% block title %}Users Dashboard
{% endblock %}

{% block body %}
		<div class="px-4 sm:px-6 lg:px-8">
			<div class="sm:flex sm:items-center">
				<div class="sm:flex-auto">
					<h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1>
					<p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
				</div>
				<div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
					<a href="{{ path('app_user_new') }}" class="block rounded-md bg-blue-950 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-950">Add user</a>
				</div>
			</div>
			<div class="mt-8 flow-root">
				<div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
					<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
						<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
							<table class="min-w-full divide-y divide-gray-300">
								<thead class="bg-gray-50">
									<tr>
										<th scope="col" class="hidden md:block px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
											Email
										</th>
										<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
											Name
										</th>
										<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
											Belt
										</th>
										<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
											Role
										</th>
										<th scope="col" class="whitespace-nowrap px-3 py-4 pr-8 text-right text-sm font-medium text-gray-900">
											Actions
										</th>
									</tr>
								</thead>
								<thead></thead>
								<tbody class="divide-y divide-gray-200 bg-white">
									{% for user in users %}
										<tr>
											<td class="hidden md:block whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.email }}</td>
											<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.name }}</td>
											<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.belt }}</td>
											{% if user.roles == ["ROLE_ADMIN","ROLE_USER"] %}
												<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Admin</td>
											{% elseif user.roles == ["ROLE_MEMBER","ROLE_USER"] %}
												<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Member</td>		
											{% elseif user.roles == ["ROLE_INSTRUCTOR","ROLE_USER"] %}
												<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Instructor</td>
											{% else %}
												<td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">User</td>
											{% endif %}									
											<td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
												<a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-blue-950 hover:text-blue-900">Show<span class="sr-only">,
														{{ user.email }}</span>
												</a>
												<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-blue-950 hover:text-blue-900">Edit<span class="sr-only">,
														{{ user.email }}</span>
												</a>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="3">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
